@charset "UTF-8";
/* Miligram overrides */
a {
  font-family: "Raleway", sans-serif;
  color: #d5d5d8;
}

a:focus, a:hover {
  color: #bbbbbf;
}

.container {
  width: 95%;
}

fieldset {
  border: 1px solid #848484;
  border-radius: 10px;
  padding-left: 20px;
}

.main {
  margin-bottom: 50px;
}

/* Utility */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
  background-color: #00b3ff;
  border-color: #00b3ff;
  transition: background-color 0.1s linear;
}

.button.button-clear, button.button-clear, input[type=button].button-clear, input[type=reset].button-clear, input[type=submit].button-clear {
  color: #00b3ff;
  transition: color 0.1s linear;
}

.button.button-outline, button.button-outline, input[type=button].button-outline, input[type=reset].button-outline, input[type=submit].button-outline {
  color: #00b3ff;
  transition: color 0.1s linear;
}

/* Main */
body {
  background: #2e2e2e;
  color: #c5c5c8;
}

blockquote, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.content {
  padding: 2rem;
  background: #818181;
  border-radius: 0.4rem;
  /* Thanks Stripe */
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.actions a {
  font-weight: bold;
  padding: 0 0.4rem;
}

th {
  white-space: nowrap;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #b4b4b4, rgba(0, 0, 0, 0));
}

.klausur {
  border-left-color: #ef5753;
}

.seminar {
  border-left-color: #39deef;
}

/* Nav bar */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 112rem;
  padding: 2rem;
  margin: 0 auto 2rem;
}

.top-nav-title a {
  font-size: 2.4rem;
  color: #00b3ff;
}

.top-nav-title span {
  color: #c5c5c8;
}

.top-nav-links a {
  margin: 0 0.5rem;
  transition: border 0.1s linear;
}

.top-nav-title a,
.top-nav-links a {
  font-weight: bold;
}

.top-nav-links a.active {
  border-bottom: 2px dotted #00b3ff;
}

.top-nav-links a:hover {
  border-bottom: 2px solid #00b3ff;
}

.side-nav-item {
  display: block;
  padding: 0.5rem 0;
}

/* View action */
.view.content .text {
  margin-top: 1.2rem;
}

.related {
  margin-top: 2rem;
}

/* Flash messages */
.message {
    padding: 1rem;
    background: #c6e1f7;
    color: #3f9ae5;
    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message a {
    color: #eba56c;
}
.message.success {
    background: #b9efd0;
    color: #1f8a4c;
    border-color: #51d88a;
}
.message.success a {
    color: #d8519f;
}
.message.error {
    background: #ee7b78;
    color: #881511;
    border-color: #cc1f1a;
}
.message.error a {
    color: #1ac7cc;
}

.hidden {
    display: none;
}

/* Forms */
.input.radio,
.input.checkbox {
  margin-bottom: 2rem;
}

.input.radio input,
.input.checkbox input {
  margin: 0;
}

.input.radio label,
.input.checkbox label {
  margin: 0;
  display: flex;
  align-items: center;
}

.input.radio label > input,
.input.checkbox label > input {
  margin-right: 1rem;
}

.input.radio label:first-of-type {
  margin-bottom: 2rem;
}

/* Paginator */
.paginator {
  text-align: right;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
}

.pagination li {
  margin: 0 0.5rem;
}

.prev.disabled a,
.next.disabled a {
  cursor: not-allowed;
  color: #606c76;
}

.asc:after {
  content: " ↓";
}

.desc:after {
  content: " ↑";
}

/* Error */
.error-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .top-nav {
    margin: 0 auto;
  }

  .side-nav {
    margin-bottom: 1rem;
  }

  .heading {
    margin-bottom: 1rem;
  }

  .side-nav-item {
    display: inline;
    margin: 0 1.5rem 0 0;
  }

  .asc:after {
    content: " →";
  }

  .desc:after {
    content: " ←";
  }
}
@media screen and (max-width: 460px) {
  .mobile-margin-down {
    margin-bottom: 15px;
  }
}
.progress {
  background: #848484;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0;
  display: flex;
  height: 20px;
}

.progress-value {
  border-radius: 100px;
  background: #00b3ff;
  height: 20px;
  min-width: 5px;
  color: white;
  text-align: center;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  transition: 0.2s ease width, opacity;
}
.progress-value[data-percent="96"] {
  animation: loadingBar 2s ease-in-out infinite;
}
.progress-value[data-percent="97"] {
  animation: loadingBar 2s ease-in-out infinite;
}
.progress-value[data-percent="98"] {
  animation: loadingBar 2s ease-in-out infinite;
}
.progress-value[data-percent="99"] {
  animation: loadingBar 2s ease-in-out infinite;
}
.progress-value[data-percent="100"] {
  animation: loadingBarAugenkrebs 0.5s ease-in-out infinite;
}

@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  src: local("Archivo Black Regular"), local("ArchivoBlack-Regular"), url(https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf) format("truetype");
}
.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
      clip: rect(67px, 9999px, 51px, 0);
      transform: skew(0.76deg);
  }
  5% {
      clip: rect(79px, 9999px, 14px, 0);
      transform: skew(0.18deg);
  }
  10% {
      clip: rect(97px, 9999px, 49px, 0);
      transform: skew(0.18deg);
  }
  15% {
      clip: rect(11px, 9999px, 66px, 0);
      transform: skew(0.95deg);
  }
  20% {
      clip: rect(1px, 9999px, 55px, 0);
      transform: skew(0.53deg);
  }
  25% {
      clip: rect(100px, 9999px, 92px, 0);
      transform: skew(0.62deg);
  }
  30% {
      clip: rect(87px, 9999px, 47px, 0);
      transform: skew(0.35deg);
  }
  35% {
      clip: rect(11px, 9999px, 89px, 0);
      transform: skew(0.43deg);
  }
  40% {
      clip: rect(75px, 9999px, 97px, 0);
      transform: skew(0.71deg);
  }
  45% {
      clip: rect(42px, 9999px, 69px, 0);
      transform: skew(0.77deg);
  }
  50% {
      clip: rect(58px, 9999px, 6px, 0);
      transform: skew(0.79deg);
  }
  55% {
      clip: rect(37px, 9999px, 48px, 0);
      transform: skew(0.29deg);
  }
  60% {
      clip: rect(62px, 9999px, 30px, 0);
      transform: skew(0.19deg);
  }
  65% {
      clip: rect(28px, 9999px, 78px, 0);
      transform: skew(0.59deg);
  }
  70% {
      clip: rect(54px, 9999px, 9px, 0);
      transform: skew(0.9deg);
  }
  75% {
      clip: rect(21px, 9999px, 77px, 0);
      transform: skew(0.95deg);
  }
  80% {
      clip: rect(40px, 9999px, 84px, 0);
      transform: skew(0.98deg);
  }
  85% {
      clip: rect(37px, 9999px, 53px, 0);
      transform: skew(0.56deg);
  }
  90% {
      clip: rect(56px, 9999px, 57px, 0);
      transform: skew(0.61deg);
  }
  95% {
      clip: rect(93px, 9999px, 24px, 0);
      transform: skew(0.06deg);
  }
  100% {
      clip: rect(25px, 9999px, 34px, 0);
      transform: skew(0.26deg);
  }
}
@keyframes glitch-anim2 {
  0% {
      clip: rect(70px, 9999px, 45px, 0);
      transform: skew(0.66deg);
  }
  5% {
      clip: rect(5px, 9999px, 69px, 0);
      transform: skew(0.11deg);
  }
  10% {
      clip: rect(43px, 9999px, 25px, 0);
      transform: skew(0.55deg);
  }
  15% {
      clip: rect(79px, 9999px, 67px, 0);
      transform: skew(0.8deg);
  }
  20% {
      clip: rect(66px, 9999px, 95px, 0);
      transform: skew(0.87deg);
  }
  25% {
      clip: rect(79px, 9999px, 30px, 0);
      transform: skew(0.6deg);
  }
  30% {
      clip: rect(52px, 9999px, 83px, 0);
      transform: skew(0.73deg);
  }
  35% {
      clip: rect(13px, 9999px, 50px, 0);
      transform: skew(0.63deg);
  }
  40% {
      clip: rect(67px, 9999px, 40px, 0);
      transform: skew(0.1deg);
  }
    45% {
        clip: rect(1px, 9999px, 42px, 0);
        transform: skew(0.16deg);
    }
    50% {
        clip: rect(75px, 9999px, 81px, 0);
        transform: skew(0.19deg);
    }
    55% {
        clip: rect(5px, 9999px, 28px, 0);
        transform: skew(0.26deg);
    }
    60% {
        clip: rect(31px, 9999px, 65px, 0);
        transform: skew(0.03deg);
    }
    65% {
        clip: rect(93px, 9999px, 26px, 0);
        transform: skew(0.94deg);
    }
    70% {
        clip: rect(70px, 9999px, 93px, 0);
        transform: skew(0.95deg);
    }
    75% {
        clip: rect(41px, 9999px, 60px, 0);
        transform: skew(0.04deg);
    }
    80% {
        clip: rect(8px, 9999px, 14px, 0);
        transform: skew(0.74deg);
    }
    85% {
        clip: rect(89px, 9999px, 42px, 0);
        transform: skew(0.09deg);
    }
    90% {
        clip: rect(96px, 9999px, 72px, 0);
        transform: skew(0.32deg);
    }
    95% {
        clip: rect(76px, 9999px, 17px, 0);
        transform: skew(0.02deg);
    }
    100% {
        clip: rect(21px, 9999px, 61px, 0);
        transform: skew(0.62deg);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(-1deg);
    }
    10% {
        transform: skew(4deg);
    }
    20% {
        transform: skew(-4deg);
    }
    30% {
        transform: skew(-2deg);
    }
    40% {
        transform: skew(-4deg);
    }
    50% {
        transform: skew(5deg);
    }
    60% {
        transform: skew(-3deg);
    }
    70% {
        transform: skew(1deg);
    }
    80% {
        transform: skew(4deg);
    }
    90% {
        transform: skew(2deg);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes loadingBar {
    0% {
        filter: none;
        box-shadow: none;
    }
    25% {
        box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff;
        filter: blur(2px);
        background: #ffffff;
        color: black;
    }
    100% {
        filter: none;
        box-shadow: none;
    }
}

@keyframes loadingBarAugenkrebs {
    0% {
        filter: none;
        box-shadow: none;
    }
    25% {
        box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff;
        filter: blur(2px);
        background: #ffffff;
        color: #ff4c00;
    }
    50% {
        box-shadow: 0 0 10px #51d88a, 0 0 20px #51d88a, 0 0 40px #51d88a, 0 0 80px #51d88a;
        filter: blur(2px);
        background: #ffffff;
        color: #d8519f;
    }
    75% {
        box-shadow: 0 0 10px #cc1f1a, 0 0 20px #cc1f1a, 0 0 40px #cc1f1a, 0 0 80px #cc1f1a;
        filter: blur(2px);
        background: #ffffff;
        color: #1ac7cc;
    }
    100% {
        filter: none;
        box-shadow: none;
    }
}
.bot-nav {
    width: 100vw;
    display: inline-block;
    text-align: center;
    background-color: #848484;
    position: fixed;
    bottom: 0;
    margin: 80px 0 0;
}
.bot-nav i {
    margin: 0 1vw;
}

.cc-revoke {
    display: none;
}

footer {
    height: 50px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-top: 1px dotted white;
}

footer a {
    color: #00b3ff;
}

.main {
    min-height: calc(100vh - 200px);
    margin-bottom: 80px;
}

.online {
    background-image: linear-gradient(to right, rgba(255, 200, 0, 0.2), rgba(0, 0, 0, 0) 80%);
}

/*# sourceMappingURL=main.css.map */
