/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: change_color($theme-color-secondary, $alpha: 0.2);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: $theme-color;
    box-shadow: 0 0 10px 10px lighten($color: $theme-color, $amount: 10%);
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: darken($color: $theme-color, $amount: 10%);
}