$darkened_bg: rgba(0, 0, 0, 0.4);
$theme-color: #00b3ff;
$theme-color-secondary: rgb(132, 132, 132);
$color-success: #51d88a;
$color-error: #cc1f1a;
$color-message: #6cb2eb;

$disabled-color: #606c76;
$background-color: #2e2e2e;
$text-color: #c5c5c8;
$link-color: #d5d5d8;

@import "cake";
@import "progressbar";
@import "glitch";
@import "animations";

footer {
    height: 50px;
    text-align: center;
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: $darkened_bg;
    border-top: 1px dotted white;

    a {
        color: $theme-color;
    }
}

.main {
    min-height: calc(100vh - 200px);
}
