.bot-nav {
    width: 100vw;
    display: inline-block;
    text-align: center;
    background-color: $theme-color-secondary;
    position: fixed;
    bottom: 0;
    margin: 80px 0 0;

    i {
        margin: 0 1vw;
    }
}

.cc-revoke {
    display: none;
}

footer {
    height: 50px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: $darkened_bg;
    border-top: 1px dotted white;

    a {
        color: $theme-color;
    }
}

.main {
    min-height: calc(100vh - 200px);
    margin-bottom: 80px;
}

.online {
    background-image: linear-gradient(to right, rgba(255, 200, 0, 0.2), rgba(0, 0, 0, 0) 80%);
}
