name: CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    services:
      mysql:
        image: mariadb:10.3
        env:
          MYSQL_USER: uniinfos
          MYSQL_PASSWORD: secret
          MYSQL_DATABASE: test_uniinfos
          MYSQL_ROOT_PASSWORD: toor
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    name: Unittest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - 7.2
          - 7.3
          - 7.4
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: intl, mbstring, zip, dom, pdo_mysql
      - name: Validate Composer
        run: composer validate
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: Run Tests
        run: composer run-script test
  deployment:
    runs-on: ubuntu-latest
    environment: production
    name: Deploy to Production
    needs:
      - test
    steps:
      - run: curl --request POST ${{ secrets.webhook }}
